{
  "baseUrl": "https://sandbox-api.va.gov/services/clinical-fhir/v0/r4",
  "authentication": {
    "type": "ccg",
    "clientId": "${CHAPI_CCG_CLIENT_ID}",
    "clientSecret": "${CHAPI_CCG_CLIENT_SECRET}",
    "audience": "${CHAPI_CCG_AUDIENCE}",
    "oauthUrl": "${CHAPI_CCG_OAUTH_URL}",
    "scopes": "launch system/AllergyIntolerance.read system/Condition.read system/MedicationDispense.read system/MedicationRequest.read system/Observation.read system/Patient.read system/Practitioner.read"
  },
  "patientIds": [
    "32000225",
    "5000335",
    "25000126",
    "2000190",
    "1012853802V084487",
    "1011568236V299349",
    "1012845331V153043"
  ],
  "resources": [
    {
      "type": "Patient",
      "fields": [
        {
          "name": "ICN",
          "jqQuery": ".id"
        },
        {
          "name": "Name",
          "jqQuery": ".name[0].text"
        },
        {
          "name": "Birthdate",
          "jqQuery": ".birthDate"
        }
      ]
    },
    {
      "type": "AllergyIntolerance",
      "fields": [
        {
          "name": "CodeSystem",
          "staticValue": "http://www.nlm.nih.gov/research/umls/rxnorm"
        },
        {
          "name": "Code",
          "jqQuery": "if .code.coding != null then ( .code.coding | if contains([{system:\"http://www.nlm.nih.gov/research/umls/rxnorm\"}]) then ( .[] | select(.system==\"http://www.nlm.nih.gov/research/umls/rxnorm\").code ) else null end) else null end"
        },
        {
          "name": "Description",
          "jqQuery": "if .code.coding != null then ( .code.coding | if contains([{system:\"http://www.nlm.nih.gov/research/umls/rxnorm\"}]) then ( .[] | select(.system==\"http://www.nlm.nih.gov/research/umls/rxnorm\").display ) else null end) else .code.text end"
        },
        {
          "name": "Status",
          "jqQuery": "if .clinicalStatus.coding != null then ( .clinicalStatus.coding | if contains([{system:\"http://terminology.hl7.org/CodeSystem/allergyintolerance-clinical\"}]) then ( .[] | select(.system==\"http://terminology.hl7.org/CodeSystem/allergyintolerance-clinical\").code ) else null end) else .code.text end"
        },
        {
          "name": "Date",
          "jqQuery": ".recordedDate"
        }
      ]
    },
    {
      "type": "Condition",
      "fields": [
        {
          "name": "CodeSystem",
          "staticValue": "http://snomed.info/sct"
        },
        {
          "name": "Code",
          "jqQuery": "if .code.coding != null then ( .code.coding | if contains([{system:\"http://snomed.info/sct\"}]) then ( .[] | select(.system==\"http://snomed.info/sct\").code ) else null end) else null end"
        },
        {
          "name": "Description",
          "jqQuery": "if .code.coding != null then ( .code.coding | if contains([{system:\"http://snomed.info/sct\"}]) then ( .[] | select(.system==\"http://snomed.info/sct\").display ) else null end) else .code.text end"
        },
        {
          "name": "Status",
          "jqQuery": ".clinicalStatus.text"
        },
        {
          "name": "Classification",
          "jqQuery": ".category[0].text"
        },
        {
          "name": "Date",
          "jqQuery": ".recordedDate"
        }
      ]
    },
    {
      "type": "MedicationDispense",
      "fields": [
        {
          "name": "CodeSystem",
          "staticValue": "urn:oid:2.16.840.1.113883.6.233"
        },
        {
          "name": "Code",
          "jqQuery": "if .medicationCodeableConcept.coding != null then ( .medicationCodeableConcept.coding | if contains([{system:\"urn:oid:2.16.840.1.113883.6.233\"}]) then ( .[] | select(.system==\"urn:oid:2.16.840.1.113883.6.233\").code ) else null end) else null end"
        },
        {
          "name": "Description",
          "jqQuery": "if .medicationCodeableConcept.coding != null then ( .medicationCodeableConcept.coding | if contains([{system:\"urn:oid:2.16.840.1.113883.6.233\"}]) then ( .[] | select(.system==\"urn:oid:2.16.840.1.113883.6.233\").display ) else null end) else .medicationCodeableConcept.text end"
        },
        {
          "name": "Status",
          "jqQuery": ".status"
        },
        {
          "name": "Date",
          "jqQuery": ".whenPrepared"
        }
      ]
    },
    {
      "type": "MedicationRequest",
      "fields": [
        {
          "name": "CodeSystem",
          "staticValue": "https://www.pbm.va.gov/nationalformulary.asp"
        },
        {
          "name": "Code",
          "jqQuery": "if .medicationCodeableConcept.coding != null then ( .medicationCodeableConcept.coding | if contains([{system:\"https://www.pbm.va.gov/nationalformulary.asp\"}]) then ( .[] | select(.system==\"https://www.pbm.va.gov/nationalformulary.asp\").code ) else null end) else null end"
        },
        {
          "name": "Description",
          "jqQuery": "if .medicationCodeableConcept.coding != null then ( .medicationCodeableConcept.coding | if contains([{system:\"https://www.pbm.va.gov/nationalformulary.asp\"}]) then ( .[] | select(.system==\"https://www.pbm.va.gov/nationalformulary.asp\").display ) else null end) else .medicationCodeableConcept.text end"
        },
        {
          "name": "Status",
          "jqQuery": ".status"
        },
        {
          "name": "Classification",
          "jqQuery": ".intent"
        },
        {
          "name": "Date",
          "jqQuery": ".authoredOn"
        }
      ]
    },
    {
      "type": "Observation",
      "fields": [
        {
          "name": "CodeSystem",
          "staticValue": "http://loinc.org"
        },
        {
          "name": "Code",
          "jqQuery": "if .code.coding != null then ( .code.coding | if contains([{system:\"http://loinc.org\"}]) then ( .[] | select(.system==\"http://loinc.org\").code ) else null end) else null end"
        },
        {
          "name": "Description",
          "jqQuery": "if .code.coding != null then ( .code.coding | if contains([{system:\"http://loinc.org\"}]) then ( .[] | select(.system==\"http://loinc.org\").display ) else null end) else .code.text end"
        },
        {
          "name": "Status",
          "jqQuery": ".status"
        },
        {
          "name": "Classification",
          "jqQuery": ".category[0].text"
        },
        {
          "name": "Date",
          "jqQuery": ".effectiveDateTime"
        }
      ]
    }
  ]
}